<div class="pimg1">
  <div class="ptext">
    <span class="border main-title">
      avanish patel
    </span>
    <p class="title">
      Photographer | Cinematographer
    </p>
  </div>
</div>

<section class="section section-light who-am-i">
  <h2>Who am I?</h2>
  <p>
    “Hi! I’m Avanish ~ Wedding and Lifestyle family photographer and Cinematographer. I live in Chicago,IL.
  </p>
  <p>
    I specialize in romantic and artistic wedding portraiture photography with a hint of modernity. I love to take
    pictures of people. My goal is to show the beauty, grace, strength and enthusiasm of people throught photographey
    and cinematography.
  </p>
  <p>
    I started photography when I was at 14. But during that time I didn’t know I’m creative in photography. I have the
    power to see the beauty. Now I feel really lucky because my hobby is my profession.
  </p>
  <p>
    Picking up a camera gives me an opportunity to capture a specific vision to share with others. Ultimately, a well
    captured image represents a moment in time that is expressed infinitely, and that’s enough of a reason for me to
    hang a camera around my shoulders wherever I go.
  </p>
  <p>
    I always shoot in RAW and in manual mode. All of my post-processing is done in Adobe Lightroom, Photoshop, Premiere
    and Final Cut. As an artist, the biggest favor I ever did myself was stop comparing my work to that of others, and
    rather than trying to mimic the editing style of someone else-creating color combinations that combined all my
    favorite things into one custom look. A mixture of rich, hazy, matte and muted.
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border trans">
      Portfolio
    </span>
  </div>
</div>

<app-card></app-card>

<!-- <section class="section section-dark">
  <h2>Section Two</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
  </p>
</section> -->

<div class="pimg3">
  <div class="ptext">
    <span class="border trans">
      Contact Me
    </span>
  </div>
</div>

<section class="section section-dark contact">
  <div class="container">
    <div class="row">
      <!-- <h2>Contact Me</h2> -->
      <div class="col-sm-6 info">
        <div>
          <i class="fa fa-map-marker" aria-hidden="true"></i> Address
        </div>
       
        <p>
            Chicago, US
          </p>
          <br/>
        <div>
            <i class="fa fa-phone" aria-hidden="true"></i> Lets Talk
        </div> 
        
        <p>
          773-474-8613
        </p>
        <br/>
        <div>
            <i class="fa fa-envelope" aria-hidden="true"></i> Ask Question
        </div>
        
        <p>
          patelabout@gmail.com
        </p>
        <br/>
      </div>
      <div class="col-sm-6 contact-form">

        <p>Let's get in touch, Send me a message:</p>
        <form>
          <div class="form-group">
            <label for="name">Tell us your Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Your Name" name="email">
          </div>
          <div class="form-group">
            <label for="email">Enter your Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Eg. example@email.com" name="email">
          </div>
          <div class="form-group">
            <label for="message">Message:</label>
            <input type="text" class="form-control" id="message" placeholder="Write us a message" name="email">
          </div>
       
          <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div>
          <button type="submit" class="btn btn-success submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>






  <div class='demopadding'>
    <div class='icon social fb'><i class='fa fa-facebook'></i></div>
    <div class='icon social in'><i class='fa fa-instagram'></i></div>
    <div class='icon social tw'><i class='fa fa-twitter'></i></div>
  </div>
</section>

<!-- <div class="pimg1">
  <div class="ptext">
    <span class="border">
      Traversy Media
    </span>
  </div>
</div> -->