

  .pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.90;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
  .pimg1{
    background-image:url('../assets/image1.jpg');
    min-height:100%;
  }
  
  .pimg2{
    background-image:url('../assets/image2.jpg');
    min-height:400px;
  }
  
  .pimg3{
    background-image:url('../assets/image3.jpg');
    min-height:400px;
  }
  
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  
  /* @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  } */
  .demopadding {
    margin:50px auto;
    width:140px;
    text-align:center;
    padding-bottom: 1px;
  }
  .icon {
      position:relative;
      text-align:center;
      width:0px;
      height:0px;
      padding:20px;
      border-top-right-radius: 	20px;
      border-top-left-radius: 	20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 	20px; 
      -moz-border-radius: 		20px 20px 20px 20px;
      -webkit-border-radius: 		20px 20px 20px 20px;
      -khtml-border-radius: 		20px 20px 20px 20px; 	
      color:#FFFFFF;
  }
  .icon i {
      font-size:20px;
      position:absolute;
      left:9px;
      top:10px;
  }
  .icon.social {
      float:left;
      margin:0 5px 0 0;
      cursor:pointer;
      background:#6d6e71 ;
      color:#262626;
      transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s; 	
  }
  .icon.social:hover {
      background:#262626 ;
      color:#6d6e71;
      transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
      -moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
      -ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
      -o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
      filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
  }
  .icon.social.fb i {
      left:13px;
      top:10px;
  }
  .icon.social.tw i {
      left:11px;
  }
  .icon.social.in i {
      left:11px;
  }


  